<footer>
    <h4 class="text-center pt-4">Développé par Hervé LAUNOY</h4>
    <div class="d-flex flex-row justify-content-around my-5 pb-4">
        <a href="tel:+33628348159"><i class="fa-solid fa-phone">06.28.34.81.59</i></a>
        <a href="https://www.linkedin.com/in/rvlaunoy"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/skaothic"><i class="fa-brands fa-github"></i></a>
        <a href="mailto:herve.launioy.devweb@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://wa.me/0628348159"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="https://skaothic.github.io/CV/Herve_LAUNOY_CV.pdf"><i class="fa-solid fa-file-user">CV</i></a></div>
</footer>